form {
    text-align: center;
}

span {
    text-align: center;
}

input {
    text-align: center;
}

label {
    text-align: center;
}

div {
    text-align: center;
}

body {
    background-color: turquoise;
}

